<!DOCTYPE html>
<html ng-app="indexApp" ng-controller="indexCtrl" ng-class="fontSize">
<head>
<title ng-bind="wapName"></title>
<meta name="baidu_union_verify" content="d98a740e1480fdd663c524b7e4c0b3be">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="keywords" content="{{wapName}}">
<meta charset="UTF-8">
<meta name="description"
	content="{{wapName}}">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/swiper.min.css" rel="stylesheet">
<link href="/resources/css/base.css" rel="stylesheet">
</head>

<body>

	<div  class="comment-wrap ">
	<!-- 标志 -->
		<div class="comment-top-fixed comment-title-top" style="background-color:#e20b0b;text-align:center">
		<span class="aiduFont" style="display:inline-block;font-size:22px;position:relative;left:0;top:0;width:32%;height:100%;vertical-align:top;" ng-bind="wapName"></span>
		</div>
	<!-- 标志end -->
	<!-- 导航 -->
		<div class="comment-top-fixed" style="background-color:#fff;top:50px !important;height:30px;line-height: 30px;font-size: 16px;" id="topNav">
			<div class="swiper-container  swiper-container1">
        <div class="swiper-wrapper">
			<a class="nav-list-a swiper-slide"  ng-click="list('推荐')">
				推荐
			</a>
			<a class="nav-list-a swiper-slide"  ng-click="list('视频')">
				视频
			</a>
			<a class="nav-list-a swiper-slide"  ng-click="list('历史')">
				历史
			</a>
			<a class="nav-list-a swiper-slide"  ng-click="list('奇闻')">
				奇闻
			</a>
			<a class="nav-list-a swiper-slide"  ng-click="list('图片 ')">
				图片
			</a>
			 <a class="nav-list-a swiper-slide"  ng-click="list('段子 ')">
				段子
			</a>
			<a class="nav-list-a swiper-slide"   ng-click="list('八卦')">
				八卦
			</a> 
			<a class="nav-list-a swiper-slide"   href="#">
			</a> 
			</div>
			</div>
			<span onclick="javascript:location.replace('/dailyRecommended/news_search')" 
			class="glyphicon glyphicon-search" 
			style="position: absolute;top:0;right:0;text-align:center;height:30px;width:30px;line-height:30px;background-color:#fff;z-index:99;"></span>
		</div>
		<!-- 导航end -->
		<!-- 新闻列表 -->
		<div class='loadAnimation'style="margin-top:80px !important;z-index:99999;" ><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
		<div  style="margin-top:80px !important;display:none;overflow: hidden;" id="loadAnimationBody">
		<!-- 第一列表 -->
<div class="swiper-container swiper-container2">
    <div class="swiper-wrapper">
		<div class="listGroup swiper-slide" style="height:100%;" ng-repeat="newsdto in newsList" ng-if="$index==0 || $index==1" ng-click="newsDetails(newsdto.news.type,newsdto.news.news_id)">
			<div class="media-center" style="position: relative;left: 0;top:0;height:100%;">
						<img class="comment-list-item-img-response1 " 
					ng-src="{{newsdto.news.img_address||newsdto.img_list[0].img_address||newsInit.img_address}}" >
				   <div ng-if="newsdto.news.type=='视频'" class="video-radius"><div class="triangle-right"></div></div>
				<span ng-style="bottomShaow" style="text-indent:0.5rem;font-size:0.9rem;z-index:99;position:absolute;left:0;bottom:3px;color:#fff;overflow: hidden;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="newsdto.news.title||newsInit.title"></span>
				<div style="z-index:9;background-color: #000;opacity: 0.5;height:30px;width:100%;position:absolute;left:0;bottom:0;"></div >
			</div>
		</div>
    </div>
		<div class="swiper-pagination" style="bottom:30px;"></div>
</div>
		<!-- 第一列表end -->
		<!-- 第二列表 -->
		<div class="listGroup list-group media comment-list-item" ng-repeat="newsdto in newsList" on-finish-render-filters ng-if="$index!=0 && $index!=1" ng-click="newsDetails(newsdto.news.type,newsdto.news.news_id)">
			<!-- 一张图片列表 -->
			<div ng-if="newsdto.img_list.length==1">
			<div class="media-left" style="vertical-align:middle;width:32%;">
				<a href="#" style="padding:5px 0 !important;position: relative;left: 0;top:0;display:inline-block;width:100%;">
				 <img class="comment-list-item-img"
					ng-src="{{newsdto.news.img_address||newsdto.img_list[0].img_address||newsInit.img_address}}" >
					<div ng-if="newsdto.news.type=='视频'" class="video-radius"><div class="triangle-right"></div></div>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="pull-left">
					<div class="comment-right-body-title">
						<span style="font-size:0.85rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="newsdto.news.title||newsInit.title"></span>
					</div>
					<div class="text-muted" style="color:#bfbebe;font-size:14px;">
					<span style="float: left;" class="newsType"  ng-bind="newsdto.news.type||newsInit.type"></span>
					<span style="float: left;margin:0 5px;line-height:16px;">|</span>
					<span   ng-bind="newsdto.news.time | dateDiff"></span>
					</div>
				</div>
			</div>
			</div>
			<!-- 两张图片列表 -->
			<div ng-if="newsdto.img_list.length==2">
					<div class="comment-right-body-title">
						<span style="font-size:0.85rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="newsdto.news.title||newsInit.title"></span>
					</div>
			<div class="text-center">
				<a href="#" style="width:100%;">
				<div ng-repeat="img in newsdto.img_list" class="comment-list-item-img-response2" style="position: relative;left: 0;top:0;display:inline-block;">
				 <img style="width:100%;"
					ng-src="{{img.img_address||newsdto.news.img_address||newsInit.img_address}}" >
					<div ng-if="newsdto.news.type=='视频'" class="video-radius"><div class="triangle-right"></div></div>
				</div>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="pull-left">
					<div class="text-muted" style="color:#bfbebe;font-size:14px;">
					<span style="float: left;" class="newsType"  ng-bind="newsdto.news.type||newsInit.type"></span>
					<span style="float: left;line-height:16px;margin:0 5px;">|</span>
					<span   ng-bind="newsdto.news.time | dateDiff"></span>
					</div>
				</div>
			</div>
			</div>
			<!-- 三张图片列表 -->
			<div ng-if="newsdto.img_list.length==3">
					<div class="comment-right-body-title">
						<span style="font-size:0.85rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="newsdto.news.title||newsInit.title"></span>
					</div>
			<div class="text-center" >
				<a href="#" style="width:100%;">
				<div ng-repeat="img in newsdto.img_list" class="comment-list-item-img-response3" style="position: relative;left: 0;top:0;display:inline-block;">
				 <img  style="width:100%"
					ng-src="{{img.img_address||newsdto.news.img_address||newsInit.img_address}}" >
					<div ng-if="newsdto.news.type=='视频'" class="video-radius"><div class="triangle-right"></div></div>
				</div>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="pull-left">
					<div class="text-muted" style="color:#bfbebe;font-size:14px;">
					<span style="float: left;" class="newsType"  ng-bind="newsdto.news.type||newsInit.type"></span>
					<span style="float: left;line-height:16px;margin:0 5px;">|</span>
					<span   ng-bind="newsdto.news.time | dateDiff"></span>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- 第二列表end -->
		<!-- 底部end -->
		<div class="comment-bottom" ng-if="noMore">Copyright 2015 itcast Inc,All rights reserved.</div>
		<!--  底部end -->
		</div>
		<!-- 新闻列表end -->
		<!-- 加载更多end -->
		<!-- <a class="btn btn-default btn-block text-center" id="addMore" ng-click="addMore()">
		<div>点击加载更多》</div>
		</a> -->
		<!--  加载更多end -->
		
	</div>
		<!-- cnzz -->
		<div style="display:none;">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260079475'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260079475' type='text/javascript'%3E%3C/script%3E"));</script>
		</div>
	<script src="/resources/js/jquery2.1.js"></script>
	<script src="/resources/js/bootstrap3.2.0.js"></script>
	<script src="/resources/js/angularjs.min.1.5.7.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/resources/js/swiper.min.js"></script>
	<script src="/resources/js/base.js"></script>
	<script>
	$(function(){
	//获取data-src
	$("img").each(function(index){
		if($(this).attr("data-src")){
			$(this).attr("src",$(this).attr("data-src"));
		}
	});
	  
	   new Swiper('.swiper-container1', {
        paginationClickable: true,
         slidesPerView: 5,
        freeMode: true
    });
	  new Swiper('.swiper-container2', {
	  	pagination : '.swiper-pagination',
        paginationClickable: true,
	loop:true,
        autoplay: 2500
    });
	//$("#loadAnimationBody").css("display","none");
	
	});
    	var indexApp=angular.module('indexApp',[]);
    	  indexApp.filter("dateDiff",function(){
                return function(dateTimeStamp){
                    return myUtils.getDateDiff(dateTimeStamp);
                }
            });
            indexApp.directive('onFinishRenderFilters', function() {
					return {
					restrict: 'A',
					link: function(scope, element, attr) {
					if (scope.$last === true) {
					$("#loadAnimationBody").show();
					$(".loadAnimation").hide();
					scope.$emit('ngRepeatFinished');
					}
					}
					};
					});
					
    	indexApp.controller('indexCtrl',function($scope){
    	$scope.wapName="每日生活";
    	//选择字体大小
    		$scope.changeFontSize=function(number){
    		sessionStorage.setItem("dailyRecommendedFontSizeNumber", number);
    		if(number==1){
    		$scope.fontSize="fontSizeBig";
    		$scope.bottomShaow={"bottom":"0"};//设置阴影
    		}else if(number==0){
    		$scope.fontSize="fontSizeNormal";
    		$scope.bottomShaow={"bottom":"3px"};//设置阴影
    		}if(number==-1){
    		$scope.fontSize="fontSizeSmall";
    		$scope.bottomShaow={"bottom":"5px"};//设置阴影
    		}
    		};
    	//字体大小
    	if(sessionStorage.getItem("dailyRecommendedFontSizeNumber")){
    		$scope.changeFontSize(sessionStorage.getItem("dailyRecommendedFontSizeNumber"));
    		}
    	
    		$("#topNav div a").each(function(){
    			//不存在，就展示首页
    			if(myUtils.GetQueryString("type")==null){
    			$("#topNav div a:first-child").addClass("nav-active");
    			}
    			//存在哪个展示哪个
    			if(myUtils.GetQueryString("type")==$(this).text().trim()){
    				console.log(myUtils.GetQueryString("type"))
    				$(this).addClass("nav-active");
    			}
    			$(this).on("click",function(){
    				var type=$(this).text().trim();
    				$("#topNav div a").removeClass("nav-active")
    				$(this).addClass("nav-active");
    				//点击哪个，展示哪个,是历史记录的重要点
    				location.href=location.protocol+"//"+location.host+"/dailyRecommended/index?type="+type;
    			});
    			
    		});
    		function initData(a){
    		if(a.type=='推荐'){
    		initRecommend();
    		return;
    		}
    			$.ajax({  
    		          type : "get",  
    		          url : myUtils.getDomain()+"/news/dto/list?pageNum="+a.pageNum+"&pageSize="+a.pageSize+"&type="+a.type+"&orderName="+a.orderName+"&orderWay="+a.orderWay+"",  
    		          async : false,  
    		          success : function(data){
    		          if(data.length<=0){
    		          $(".loadAnimation").hide();
    		          	return;
    		          }
    		        	  if(a.pageNum>1){
    		        		  for (var int = 0; int < data.length; int++) {
    		        			$scope.newsList.push(data[int]); 
							}
    		        	  }else{
    		        	  $scope.newsList=data; 
    		        		  
    		        	  } 
    		        	  myUtils.myPrevToast("加载完成", null, "remove");
    		          }  
    		          });  
    		}
    		//推荐
    		function initRecommend(){
    			$.ajax({  
      		          type : "get",  
      		          url : myUtils.getDomain()+"/news/dto/list/isRecommend?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize,  
      		          async : false,  
      		          success : function(data){
      		        	  $scope.newsList=data; 
      		        	  myUtils.myPrevToast("加载完成", null, "remove");
      		          }  
      		          }); 
    		}
    		
    		$scope.noMore=false;//false还有，true没有更多
    		$scope.pageNum=1;//第多少个
    		$scope.pageSize=10;//每页个数
    		$scope.type=myUtils.GetQueryString("type")||"推荐";//初始化类别
    			initData({
    			pageNum:$scope.pageNum,
    			pageSize:$scope.pageSize,
    			type:$scope.type,
    			orderName:"time",
    			orderWay:"desc"
    			});
    	    //选择频道
    		$scope.list=function(type){
    		$scope.pageNum=1;
    		$scope.pageSize=10;
    		$scope.type=type;
    			myUtils.myPrevToast("加载中...", function(){
    			initData({
        			pageNum:$scope.pageNum,
        			pageSize:$scope.pageSize,
        			type:$scope.type,
        			orderName:"time",
        			orderWay:"desc"
        			});
    			}, "add");
    			
    		};
    			//滚动刷新
    		function onReachBottom(){
    			$scope.pageNum=$scope.pageNum+$scope.pageSize;
    			$scope.pageSize=$scope.pageSize;
    			myUtils.myFootLoadingToast("relative",null,function(){
    			var gurl="/news/dto/list?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize+"&type="+$scope.type+"&orderName=time&orderWay=desc";
    			if($scope.type=='推荐'){
    			gurl="/news/dto/list/isRecommend?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize;
    			}
    			$.ajax({  
  		          type : "get",
  		          timeout: 3000,
  		          async : false,
  		          url : myUtils.getDomain()+gurl,  
  		          complete: function (xhr) {
                  myUtils.myFootLoadingToast("relative",null,null,"remove");
  				if(xhr.responseJSON&&xhr.responseJSON.code==40000){
                  myUtils.myLoadingToast("请求失败！请检查！");
                	return ;
         		 }
  				},
  		          success : function(data){
  		      		     myUtils.myFootLoadingToast("relative",null,null,"remove");
  		        	 if(data.length<=0){
  		        	 $scope.noMore=true;
  		        	 $scope.$apply();
  		        	      return;
  		        	    }
  		        	    	$scope.noMore=false;
  		      		        $scope.newsList=$scope.newsList.concat(data);
  		      		        $scope.$apply();
  		      		         myUtils.myPrevToast("加载完成", null, "remove");
  		          }  
  		          });
    			},"add");
  		}
    		$(window).scroll(function(){
        		console.log($scope.noMore);
        		if(!navigator.onLine){
        		myUtils.myLoadingToast("请检查网络！");
        		return;
        		}
        		if(navigator.onLine && $scope.noMore==false && myUtils.isScrollBottom(document)){
        			onReachBottom();
        		}
        			
        		});
    		
    		 /* $scope.addMore=function(){
    			$("#addMore").children().text("正在加载中...");
    			var pageNum=$(".listGroup").size()+1;
    			var type=$(".nav-active div").text().trim();
    			console.log(pageNum)
    			console.log(type)
    			initData({
        			pageNum:pageNum,
        			pageSize:10,
        			type:type,
        			orderName:"time",
        			orderWay:"desc"
        			});
    			$("#addMore").children().text("点击加载更多》");
    		};  */
    		//跳转页面
    		$scope.newsDetails=function(type,news_id){
    			location.replace("/dailyRecommended/news_details?type="+type+"&news_id="+news_id);
    			console.log("/dailyRecommended/news_details?type="+type+"&news_id="+news_id)
    		};
    		//新闻初始化
    		$scope.newsInit={
    				news_id:6160,
    				img_address:'http://t.kejixun.com/uploadfile/2016/0804/20160804024053197.jpg',
        			title:'手机支付流行，小偷开始猖獗',
        			type:'奇闻',
        			time:'2016-08-04 14:40:53',
        			content:">· 对商家而言，很难判别顾客究竟是遗漏扫码，还是不会扫码；</p>"
        				+" <p>· 数据显示，采用自助扫码技术的商家，失窃率比同业平均水平高出122%；</p>"
        				  +"<p>· 商家频繁地捉到小偷，并且小偷会承认犯罪。</p>"
        				  +"<p>Hopkins表示：“许多商家开始认识到了这些问题，开始采取措施来提醒相关风险，并确保购物篮中所有商品都被扫码且打印在收据上。”</p>"
        				  +" <p>“零售业的所有创新都是商业选择——处于购买体验更愉悦与商家利润更丰厚的考量。但同时也可能带来一些消极结果，例如失窃率增加。”</p>"
        				  +"<p>该研究显示，商家的一些选择或许会招致一些出乎预料的行为和结果。</p> "
        				 +"</div></div>"
        			};
    		//广告代码
    		//$("body").append("<div><img style='width:100%;height:10%;position:fixed;left:0;bottom:0'  src='/resources/img/splash.jpg'></img></div>");
    		$.get(myUtils.getDomain()+"/adsense/list/0",function(data){
    			if(data&&data[0].content){    				
    			console.log(data)
    			myUtils.executeJS(data[0].content);
    			}
  
    		});

    	});
    </script>
</body>
</html>
