<!DOCTYPE html>
<html ng-app="detailsApp" ng-controller="detailsCtrl" ng-class="fontSize">
<head>
<title ng-bind="news.title"></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="keywords" content="{{news.title}}">
<meta charset="UTF-8">
<meta name="description"
	content="{{news.title}}">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/swiper.min.css" rel="stylesheet">
<link href="/resources/css/base.css" rel="stylesheet">
<style type="text/css">
iframe,video{
width:104% !important;
margin-left:-2%;
height:280px;
}
 .baidu-advertise{
width:104% !important;
overflow:hidden;
margin-left:-2%;
}
/*  .baidu-advertise,.baidu-advertise div{
width:100% !important;
overflow:hidden;
}
.baidu-advertise iframe{
width:100% !important;
overflow:hidden;
}  */
</style>
</head>
<body >

	<div  class="comment-wrap "  >
	<!-- 标志 -->
		<!-- <div class="comment-top-fixed comment-title-top" style="background-color:#e20b0b;text-align:left">
		<span class="aiduFont" style="vertical-align:middle;" ng-click="goBackIndex()">&lt;&lt;</span>
		<span class="aiduFont" style="display:inline-block;font-size:22px;vertical-align:middle;" ng-click="goBackIndex()" ng-bind="wapName"></span>
		<span class="aiduFont" style="display:inline-block;font-size:16px;vertical-align:middle;color:#fef504;" ng-bind="news.type"></span>
		<span class="aiduFont btn  btn-sm" ng-class="fontSizeClassBig"style="display:inline-block;" ng-click="changeFontSize('1')">大</span>
		<span class="aiduFont btn  btn-sm" ng-class="fontSizeClassNormal"  ng-click="changeFontSize('0')">中</span>
		<span class="aiduFont btn  btn-sm" ng-class="fontSizeClassSmall" style="display:inline-block;" ng-click="changeFontSize('-1')">小</span>
		</div> -->
	<!-- 标志end -->
			<div class='loadAnimation'style="margin-top:105px !important;z-index:99999;" ><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
		<!-- 新闻列表 -->
<!-- 		<div  style="margin-top:50px !important;display:none;" id="newsDeatilsBody"   > -->
		<div  style="margin-top:0px !important;display:none;" on-finish-render-filters id="newsDeatilsBody"   >
		<div style="padding:2%;background-color:#fff;margin-bottom:5px;">
			<div class="media-center">
			<!-- 广告 -->
				<!-- <a  style="padding:0 !important;" class="guanggao" 
				href="http://dl.91cashmobi.com/apk/TSYY_RH_098_098_170214_V1.0.1.apk">
				<img  src="http://man.fuwu88.cn/uploaderPath/ueditor/image/20170214/1487066476470089148.png">
				</a> -->
			<!-- 广告  end-->
				<div ><span style="font-size:1.2rem;font-weight:bold" ng-bind="news.title"></span></div>
				<div class="text-muted" style="font-size:0.8rem;">
					<span ng-bind="news.time"></span>
					<span ng-bind="news.type"></span>
				</div>
				 <div style="font-size:1em !important;" ng-bind-html="news.content" id="newsDetails">
				</div> 
				 <div style="color:#ccc;">
					阅读：<span ng-bind="news.reading_number || '0'"></span>
				</div>
				 		
			</div>
		</div>
			<!-- 广告 -->
			<!-- <a  style="padding:0 !important;"  
				href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76814e5d646aef20&redirect_uri=http%3A%2F%2Fqipai.yychess.com%2Fniuniu_server_fk%2Findex.php&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">
				<img  src="http://man.fuwu88.cn//uploaderPath/ueditor/image/20170215/1487157782013046877.png">
				</a> -->
				<!-- <a  style="padding:0 !important;" class="guanggao" 
				href="http://dl.91cashmobi.com/apk/TSYY_RH_098_098_170214_V1.0.1.apk">
				<img  src="http://man.fuwu88.cn/uploaderPath/ueditor/image/20170215/1487122589689085949.jpg">
				</a> -->
			<!-- 广告  end-->
		<!-- 新闻列表end -->
<!-- <div class="list-group media " style="padding:2%;background-color:#fff;margin-top:5px;">
			<div class="media-center">
				<div class="comment-hot-title">
					<span class="comment-hot-icon" style="border-left-color:#2b1152;"></span>
					<span class="comment-hot-word">更多精彩</span>
					<span class="comment-hot-line"></span>
				</div>
		置顶
			
		
		根据时间加载
		<div class="listGroup list-group media comment-list-item" style="border-top:1px solid #f8f8f8" ng-repeat="newsdto in newsList"  on-finish-render-filters  ng-click="newsDetails(newsdto.news.type,newsdto.news.news_id)">
			<div ng-if="newsdto.img_list.length==1">
			<div class="media-left" style="vertical-align:middle;width:32%;">
				<a href="#" style="padding:5px 0 !important;position: relative;left: 0;top:0;display:inline-block;width:100%;">
				 <img class="comment-list-item-img"
					ng-src="{{newsdto.news.img_address||newsdto.img_list[0].img_address||newsInit.img_address}}" >
					<div ng-if="newsdto.news.type=='视频'" class="video-radius"><div class="triangle-right"></div></div>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="pull-left">
					<div class="comment-right-body-title">
						<span style="font-size:0.85rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="newsdto.news.title||newsInit.title"></span>
					</div>
					<div class="text-muted" style="color:#bfbebe;font-size:14px;">
					<span style="float: left;" class="newsType"  ng-bind="newsdto.news.type||newsInit.type"></span>
					<span style="float: left;line-height:16px;margin:0 5px;">|</span>
					<span   ng-bind="newsdto.news.time | dateDiff"></span>
					</div>
				</div>
			</div>
			</div>
			<div ng-if="newsdto.img_list.length==2">
					<div class="comment-right-body-title">
						<span style="font-size:0.85rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="newsdto.news.title||newsInit.title"></span>
					</div>
			<div class="text-center">
				<a href="#" style="width:100%;">
				<div ng-repeat="img in newsdto.img_list" class="comment-list-item-img-response2" style="position: relative;left: 0;top:0;display:inline-block;">
				 <img style="width:100%;"
					ng-src="{{img.img_address||newsdto.news.img_address||newsInit.img_address}}" >
					<div ng-if="newsdto.news.type=='视频'" class="video-radius"><div class="triangle-right"></div></div>
				</div>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="pull-left">
					<div class="text-muted" style="color:#bfbebe;font-size:14px;">
					<span style="float: left;" class="newsType"  ng-bind="newsdto.news.type||newsInit.type"></span>
					<span style="float: left;line-height:16px;margin:0 5px;">|</span>
					<span   ng-bind="newsdto.news.time | dateDiff"></span>
					</div>
				</div>
			</div>
			</div>
			<div ng-if="newsdto.img_list.length==3">
					<div class="comment-right-body-title">
						<span style="font-size:0.85rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="newsdto.news.title||newsInit.title"></span>
					</div>
			<div class="text-center" >
				<a href="#" style="width:100%;">
				<div ng-repeat="img in newsdto.img_list" class="comment-list-item-img-response3" style="position: relative;left: 0;top:0;display:inline-block;">
				 <img style="width:100%" 
					ng-src="{{img.img_address||newsdto.news.img_address||newsInit.img_address}}" >
					<div ng-if="newsdto.news.type=='视频'" class="video-radius"><div class="triangle-right"></div></div>
				</div>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="pull-left">
					<div class="text-muted" style="color:#bfbebe;font-size:14px;">
					<span style="float: left;" class="newsType"  ng-bind="newsdto.news.type||newsInit.type"></span>
					<span style="float: left;line-height:16px;margin:0 5px;">|</span>
					<span   ng-bind="newsdto.news.time | dateDiff"></span>
					</div>
				</div>
			</div>
			</div>
	百度广告
			<div ng-if="$index==3 || $index==9" class="baidu-advertise">
				<script type="text/javascript">
		    var cpro_id = "u2951435";
		</script>
		<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
			</div>
		百度广告 end
		</div>
		根据时间加载 end
		
		
		</div>
		</div> -->
		<!-- 底部end -->
		<!-- <div class="comment-bottom" ng-if="noMore">Copyright 2015 itcast Inc,All rights reserved.</div>
 -->		<!--  底部end -->
		</div>
		</div>
		<!-- cnzz -->
		<div style="display:none;">
		<!-- <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260079475'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260079475' type='text/javascript'%3E%3C/script%3E"));</script>
 -->		</div>
		
	<script src="/resources/js/jquery2.1.js"></script>
	<script src="/resources/js/bootstrap3.2.0.js"></script>
	<script src="/resources/js/angularjs.min.1.5.7.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/resources/js/swiper.min.js"></script>
	<script src="/resources/js/base.js"></script>
	<script src="/resources/js/weixinlogin.js"></script>

	<script>

	$(function(){
		//广告
		$(".guanggao").click(function(){
		if(myUtils.isWeiXinBrowse()){
		myUtils.myTipToast("/resources/img/live_weixin.png");
		}
		});
		//重置详情页所有图片
		 $("#newsDetails img").each(function(){
			if($(this).attr("src").substring($(this).attr("src").lastIndexOf(".")+1)!="gif"
					&&$(this).attr("src").substring($(this).attr("src").lastIndexOf(".")+1)!="ico"
					){
	  		$(this).css({'width':'100%'});
			}else{
				$(this).css({'max-width':'100%'});
			}
	  	}); 
		 $("#newsDetails video").each(function(){
				$(this).css({'width':'100%',"border":'1px solid #ccc',"box-shadow":'0 1px 5px #ccc'});
	  	}); 
		//修改热门推荐图片大小
	  	/* $(".comment-list-item-img").each(function(){
	  		$(this).css({'width':'100px','height':'76px'});
	  	}); */
		//去掉内容跳转 
	/*   	$("#newsDetails a").each(function(){
	  	var $this=$(this);
	  	var thissrc=$this.attr("href");
	  	$(this).attr("href","#");
	  	 $this.click(function(event){
	  		 if(thissrc.indexOf("http://xw.qq.com/")>-1){
				return false;	  			 
	  		 }
	  		$("#detailsShow").show();
	  		$("#i").attr("src",thissrc);
	  		return false;
	  	}); 
	  	});
		$("#detailsHide").click(function(){
			$("#detailsShow").hide();
		}); */
	  	//获取data-src
		$("img").each(function(){
			if($(this).attr("data-src")){
				$(this).attr("src",$(this).attr("data-src"));
			}
		});
	  	//新增下一页
	  	
	  	/* var prePageNum=0;//初始上一页
		var nextPageNum=10000000;//初始下一页
		var pageSize=10000000;//初始页面长度
		var showQuanWen=false;//使用展开全文模式
	  	var list="p";
		if(($("p").length<=0) && ($("li").length>0)){
			list="li";
			}
			
	  	var totalpage=$(list).length;//总数目
	  	var totalSize=$(list).length%pageSize==0?$(list).length/pageSize:parseInt($(list).length/pageSize)+1;//总页数
	  	var currentPage=1;
	  	$("#newsDetails").after(
		"<a  class='btn btn-success pull-left' id='prevPageBox'>上一页</a>");
			$("#newsDetails").after(
					"<a  class='btn btn-success pull-right' id='nextPageBox'><span id='currentPageId'>"+currentPage+"</span>/"+totalSize+"下一页</a>")
		$("#nextPageBox").after("<div class='text-center hide' style='color:#ccc;' id='noPageBox'>没有更多了</div>");
		$("#prevPageBox").hide();
		$("#noPageBox").hide();
		console.log(totalSize)
		if(totalSize==1){
			$("#nextPageBox").hide();
			$("#noPageBox").show();
		}else if(showQuanWen){
		//使用展开全文模式	
		$("#prevPageBox").hide();
		$("#nextPageBox").hide();
		$("#noPageBox").hide();
	  	$("#newsDetails").after(
		"<a id='showQuanWenId' style='display:block;color:#2b1152;font-weight:bold' class='text-center text-info' >展开全文∨</a>");
	  	$("#showQuanWenId").off().click(function(){
	  	nextPageNum=1500000;
	  	pageSize=1500000;
	  	$("#showQuanWenId").remove();
	  	showPage(prePageNum,nextPageNum);
	  	});
	  	}
		//重置p
		function showPage(prePageNum,nextPageNum){
		$(list).each(function(index){
		$(this).css("text-indent","0");
		$(this).hide();
		if(index<nextPageNum && index>=prePageNum){
			$(this).show();
		}
		});
		if(location.href.indexOf("#")>-1 && !showQuanWen){
	  		location.href=location.href;
	  		}else{
	  		location.href=location.href+"#";
	  		}
		}
		showPage(prePageNum,nextPageNum);//初始化
		//点击下一页
	  	$("#nextPageBox").on("click",function(d){
	  		//if($(list).length<prePageNum){
	  			$("#prevPageBox").show();
	  		if(currentPage>=totalSize){
	  			$("#noPageBox").show();
	  			$("#nextPageBox").hide();
	  			return ;
	  		}
	  	
	  		prePageNum+=pageSize;
	  		nextPageNum+=pageSize;
	  		currentPage++;
	  		$("#currentPageId").text(currentPage);
	  		showPage(prePageNum,nextPageNum);
	  	});
		//点击上一页
		$("#prevPageBox").on("click",function(d){
			prePageNum-=pageSize;
	  		nextPageNum-=pageSize;
	  		if($("#noPageBox").is(":visible")){
	  			$("#noPageBox").hide();
	  		}
	  		if($("#nextPageBox").is(":hidden")){
	  			$("#nextPageBox").show();
	  		}
	  		if(prePageNum<=0){
	  			$("#prevPageBox").hide();
	  		}
	  		currentPage--;
	  		$("#currentPageId").text(currentPage);
	  		showPage(prePageNum,nextPageNum);
	  		
		});
		 */
		
	});
    	var detailsApp=angular.module('detailsApp',[]);
    	detailsApp.filter("dateDiff",function(){
                return function(dateTimeStamp){
                    return myUtils.getDateDiff(dateTimeStamp);
                }
            });
           detailsApp.directive('onFinishRenderFilters', function() {
					return {
					restrict: 'A',
					link: function(scope, element, attr) {
					console.log(scope)
					console.log(element)
					console.log(attr)
					//if (scope.$last === true) {
					if (scope.news) {
					$("#newsDeatilsBody").show();
					$(".loadAnimation").hide();
					scope.$emit('ngRepeatFinished');
					}
					}
					};
					}); 
    	detailsApp.controller('detailsCtrl',function($scope,$sce){
    	$scope.wapName="每日生活";
    		//自定义字体大小 大 中 小
    		$scope.fontSizeClassBig="btn-default";
    		$scope.fontSizeClassNormal="btn-danger";
    		$scope.fontSizeClassSmall="btn-default";
    		//选择字体大小
    		$scope.changeFontSize=function(number){
    		sessionStorage.setItem("dailyRecommendedFontSizeNumber", number);
    		if(number==1){
    		$scope.fontSize="fontSizeBig";
    		$scope.fontSizeClassBig="btn-danger";
    		$scope.fontSizeClassNormal="btn-default";
    		$scope.fontSizeClassSmall="btn-default";
    		}else if(number==0){
    		$scope.fontSize="fontSizeNormal";
    		$scope.fontSizeClassBig="btn-default";
    		$scope.fontSizeClassNormal="btn-danger";
    		$scope.fontSizeClassSmall="btn-default";
    		}if(number==-1){
    		$scope.fontSize="fontSizeSmall";
    		$scope.fontSizeClassBig="btn-default";
    		$scope.fontSizeClassNormal="btn-default";
    		$scope.fontSizeClassSmall="btn-danger";
    		}
    		};
    		if(sessionStorage.getItem("dailyRecommendedFontSizeNumber")){
    		$scope.changeFontSize(sessionStorage.getItem("dailyRecommendedFontSizeNumber"));
    		}
    	
    		function initData(id,fixedRecommendSize,isRecommendSize){
    		 var uv=0;//默认为0不是独立访客，没有uv,1为有uv
            	 //只有不存在，才是新访客
            	if(!myUtils.getCookie("newsUv"+myUtils.GetQueryString("news_id"))){
            		myUtils.setCookie("newsUv"+myUtils.GetQueryString("news_id"), myUtils.GetQueryString("news_id"), myUtils.currentToEndTime());
            		uv=1;
            	} 
    			$.ajax({  
  		          type : "get",  
  		          url : myUtils.getDomain()+"/news/click?newsId="+id+"&uv="+uv,  
  		          async : false,  
  		          success : function(data){
  		        	console.log(data);
  		        	if(data.code==40000){
  		        	myUtils.myTemplate("页面已删除")
  		        	return;
  		        	}
  		        	var el = $( "<div id='datacontentid'></div>");
  		        	$(el).html(data.content);
    				//console.log($(el).text().substring(0, 30)+"...");
  		        	data.content=$sce.trustAsHtml(data.content);
    				$scope.news=data;
  		        	//$scope.news.content=$sce.trustAsHtml($scope.news.content);
  		        	//微信分享接口
  		        	if(myUtils.isWeiXinBrowse()){
  		        		
  		        		}
				 
      		           
  		         
  		          }  
  		          });  
    			
    			
    		}
    		initData(myUtils.GetQueryString("news_id"),1,1);
    			
    			//列表
      			/* function initListData(a){
    			$.ajax({  
    		          type : "get",  
    		          url : myUtils.getDomain()+"/news/dto/list?pageNum="+a.pageNum+"&pageSize="+a.pageSize+"&type="+a.type+"&orderName="+a.orderName+"&orderWay="+a.orderWay+"",  
    		          async : false,  
    		          success : function(data){
    		          if(data.length<=0){
    		          $(".loadAnimation").hide();
    		          	return;
    		          }
    		        	  if(a.pageNum>1){
    		        		  for (var int = 0; int < data.length; int++) {
    		        			$scope.newsList.push(data[int]); 
							}
    		        	  }else{
    		        	  $scope.newsList=data; 
    		        		  
    		        	  } 
    		        	  myUtils.myPrevToast("加载完成", null, "remove");
    		          }  
    		          });  
    		}
      		$scope.noMore=false;//false还有，true没有更多
    		$scope.pageNum=1;//第多少个
    		$scope.pageSize=10;//每页个数
    		$scope.type="首页";//初始化类别，所有
      			initListData({
    			pageNum:$scope.pageNum,
    			pageSize:$scope.pageSize,
    			type:$scope.type,
    			orderName:"time",
    			orderWay:"desc"
    			});
    			
    					//滚动刷新
    		function onReachBottom(){
    			$scope.pageNum=$scope.pageNum+$scope.pageSize;
    			$scope.pageSize=$scope.pageSize;
    			myUtils.myFootLoadingToast("relative",null,function(){
    			var gurl="/news/dto/list?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize+"&type="+$scope.type+"&orderName=time&orderWay=desc";
    			if($scope.type=='推荐'){
    			gurl="/news/dto/list/isRecommend?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize;
    			}
    			$.ajax({  
  		          type : "get",
  		          timeout: 3000,
  		          async : false,
  		          url : myUtils.getDomain()+gurl,  
  		          complete: function (xhr) {
                  myUtils.myFootLoadingToast("relative",null,null,"remove");
  				if(xhr.responseJSON&&xhr.responseJSON.code==40000){
                  myUtils.myLoadingToast("请求失败！请检查！");
                	return ;
         		 }
  				},
  		          success : function(data){
  		      		     myUtils.myFootLoadingToast("relative",null,null,"remove");
  		        	 if(data.length<=0){
  		        	 $scope.noMore=true;
  		        	 $scope.$apply();
  		        	      return;
  		        	    }
  		        	    	$scope.noMore=false;
  		      		        $scope.newsList=$scope.newsList.concat(data);
  		      		        $scope.$apply();
  		      		         myUtils.myPrevToast("加载完成", null, "remove");
  		          }  
  		          });
    			},"add");
  		}
    		$(window).scroll(function(){
        		console.log($scope.noMore);
        		if(!navigator.onLine){
        		myUtils.myLoadingToast("请检查网络！");
        		return;
        		}
        		if(navigator.onLine && $scope.noMore==false && myUtils.isScrollBottom(document)){
        			onReachBottom();
        		}
        			
        		}); */
    		//返回首页
    		/* $scope.indexType=["视频","历史","奇闻","图片","段子","八卦"];
    		$scope.goBackIndex=function(){
    		var type="推荐";
    		for(var i=0;i<$scope.indexType.length;i++){
    		if($scope.news.type==$scope.indexType[i]){
    		location.href='/dailyRecommended/index?type='+myUtils.GetQueryString('type');
    		return;
    		}
    		}
    		location.href='/dailyRecommended/index?type='+type;
    		};
    		//跳转页面
    		$scope.newsDetails=function(type,news_id){
    			location.replace("/dailyRecommended/news_details?type="+type+"&news_id="+news_id);
    		}; */
    		//新闻初始化
    		$scope.newsInit={
    				news_id:6160,
    				img_address:'http://t.kejixun.com/uploadfile/2016/0804/20160804024053197.jpg',
        			title:'手机支付流行，小偷开始猖獗',
        			type:'奇闻',
        			time:'2016-08-04 14:40:53',
        			content:">· 对商家而言，很难判别顾客究竟是遗漏扫码，还是不会扫码；</p>"
        				+" <p>· 数据显示，采用自助扫码技术的商家，失窃率比同业平均水平高出122%；</p>"
        				  +"<p>· 商家频繁地捉到小偷，并且小偷会承认犯罪。</p>"
        				  +"<p>Hopkins表示：“许多商家开始认识到了这些问题，开始采取措施来提醒相关风险，并确保购物篮中所有商品都被扫码且打印在收据上。”</p>"
        				  +" <p>“零售业的所有创新都是商业选择——处于购买体验更愉悦与商家利润更丰厚的考量。但同时也可能带来一些消极结果，例如失窃率增加。”</p>"
        				  +"<p>该研究显示，商家的一些选择或许会招致一些出乎预料的行为和结果。</p> "
        				 +"</div></div>"
        			};
    		//广告代码
    		//$("body").append("<div><img style='width:100%;height:10%;position:fixed;left:0;bottom:0'  src='/resources/img/splash.jpg'></img></div>");
    		$.get(myUtils.getDomain()+"/adsense/list/1",function(data){
    			if(data&&data[0].content){    				
        			console.log(data)
        			myUtils.executeJS(data[0].content);
        			}
    		});
    	 new Swiper('.swiper-container', {
        direction: 'vertical',
        slidesPerView: 'auto',
        mousewheelControl: true,
        freeMode: true
    		}); 
    	});
    	
    	
    </script>
</body>
</html>
